.Message__container {
    width: calc(100% - 20px);
    height: 100vi;
    padding: 0 10px;
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    z-index: -1;
  }
  
  .Message__time {
    margin-top:5px;
    top: 10px;
    left: 10px;
    font-size: 12px;
    opacity: 0.5;
    font-family: 'VT323', monospace;
  }
  
  .Message__text {
    bottom: 10px;
    left: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-bottom: 10px;
    font-family: 'VT323', monospace;
    font-size: 15px;
  }
  .dateCircle{
    /* margin-top:5px; */
    display: flex;
    /* margin-bottom: 10px; */
    justify-content: space-between;
  }
  .dateCircle img{
    margin-top:5px;
  }
  .datecircle-side{
    display: flex;
    align-items:flex-start;
  }
  .circle{
    margin-top: 5px;
    margin-right: 10px;
    height: 10px;
    width:10px;
    border-radius: 10px;
  }