.PandF{
    width: 90%;
    height: 100%;
    /* margin-left: 200px; */
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-around;
}
.PandF-Child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:900px){
    .PandF{
        width: 100%
    }
}
@media screen and (max-width:414px){
    .PandF-Child{
        flex-direction: column-reverse;
    }

}