.chartjs-container2{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    /* font-family: 'VT323', monospace; */
}

.weekUserButtons button>.show{
    display: block;
}
.weekUserButtons button{
    background: rgba(101, 101, 86, 0.6);
    border: none;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    color: white;
    outline: none;
    font-family: 'VT323', monospace;
    font-size: 15px;
    display: flex;
    
}
.weekUserButtons {
    margin: auto 200px;
}

@media (max-width: 1210px) {

    .weekUserButtons {
        margin: 5px 0;
    }

    .chartjs-container2 {
        margin-top: 230px;
        flex-direction: column;
    }
}