.LandingPage {
  margin-top: 100px;
  flex: 1;
  height: 100%;
}
/* .LandingPage img{
    position: absolute;
    width: 75%;
    margin: auto;
    left:50%;
    transform: translateX(-50%);
    top: 23%;
} */
.landing-footer {
  margin-top: 50px;
  height: 150px;
  width: 100vw;
  background: rgb(129, 117, 109);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon {
  width: 20%;
  height: 90%;
  display: flex;
  align-items: center;
}
.icon > p {
  color: white;
  margin: 0 0 0 10px;
  font-family: "Staatliches", cursive;
}
.icon > img {
  width: 30%;
  margin: 0;
  height: 70%;
}
.landing-mood {
  width: 100vw;
  height: 200px;
}
.landing-mood > p {
  font-family: "Staatliches", cursive;
  margin: 50px 0 0 5px;
  font-size: 25px;
  /* text-decoration: underline; */
}
.landing-mood-container {
  width: 55%;
  /* height: 300px; */
  /* background: blue; */
  margin: auto;
}
.landing-mood-container > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 40px;
}
.landing-mood-container > div p {
  font-family: "Staatliches", cursive;
}
.mood-box {
  width: 100px;
  height: 50px;
  margin-right: 50px;
}
.three {
  border: solid 1px black;
  margin: 0;
  margin: 10px;
}
.one {
  background: rgb(244, 172, 96);
}
.two {
  background: rgb(86, 75, 99);
}
.landing-message {
  width: 100vw;
  height: 520px;
  background: rgb(67, 67, 67);
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-message > p {
  color: white;
  font-family: "Staatliches", cursive;
  font-size: 45px;
}
.footer-quote {
  color: rgb(144, 3, 2);
  font-family: "Staatliches", cursive;
  text-align: center;
  margin-bottom: 15px;
}
.landing-message > img {
  width: 400px;
  margin-left: 150px;
}
/* @media (max-width: 900px) {
  .LandingPage img {
    width: 100vw;
  }
}
@media screen and (max-width: 414px) {
  .LandingPage img {
    width: 100vw;
  }
} */
@media screen and (max-width: 600px) {
  .LandingPage {
    overflow: hidden;
  }
  .landing-img {
    width: 200%;
  }
  .landing-message > img {
    margin-left: 0px;
  }
  .landing-message {
    margin-top: 0px;
    height: 400px;
  }
  .landing-message > p {
    font-size: 35px;
  }
  .landing-footer {
    margin-top: 20px;
    height: 100px;
  }
  .icon {
    width: 30%;
  }
  .icon > p {
    font-size: 8px;
  }
  .landing-mood > p {
    font-size: 18px;
  }
  .landing-mood-container > div p {
    font-size: 10px;
  }
  .mood-box {
    width: 60px;
  }
  #smalldiss {
    display: none;
  }
}
