.Feed .Write {
    margin: 30px;
    width: 550px;
    height: 200px;
    /* border-radius: 30px; */
    display: flex;
    flex-direction: column;
    border: solid rgba(0, 0, 0, 0.651) .6px;
    /* background: rgba(148, 137, 133, 0.699); */
    /* background: rgba(42, 42, 40, 0.774); */
    /* background: rgba(52, 30, 24, 0.411) */
    background: rgb(157,160,196);
}
.Feed .Write .circleandtext{
    display: flex;
    flex-direction: row;
    margin: 20px; 
}
.Feed .Write .emotCircle{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    box-shadow: 1px 1px 1px 1px rgba(49, 49, 49, 0.164);
    border: solid rgba(0, 0, 0, 0.575) .6px;
}
.Feed .Write textarea{
    border: solid rgba(0, 0, 0, 0.712) .55px;
    border-radius: 12px;
    outline: none;
    margin-left: 30px;
    width: 70%;
    height: 110px;
    font-size: 15px;

}
.Feed .Write .buttonFlex{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.Feed .Write #button-one {
    height: 40px;
    width: 50px;
    border: solid rgba(128, 128, 128, 0.151) .7px;
    outline: none;
    border-radius: 25px;
}
.Feed .Write #button-two {
    height: 40px;
    width: 70px;
    border: solid rgba(128, 128, 128, 0.151) .7px;
    outline: none;
    border-radius: 12px;
}