.Cloudinary {
  cursor: pointer;
  width: 500px;
  display: flex;
  margin: 3px 0 10px 40px;
}
.attach {
  width: 500px;
  display: flex;
  /* background: blue; */
  /* justify-content: space-between; */
  flex-direction: row;
}
.clip {
  height: 15px;
  justify-content: flex-start;
}
.attach > div {
  width: 500px;
  display: flex;
  margin-left: 10px;
}
.Cloudinary p {
  font-family: "VT323", monospace;
  font-size: 15px;
  /* padding: 5px; */
}
.delete-icon {
  height: 15px;
  margin-left: 5px;
}
form {
  display: flex;
  margin-bottom: 5px;
  /* justify-content: flex-end; */
}
form > button {
  height: 10px;
  border: none;
  outline: none;
  background: rgb(170, 43, 34);
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 420px) {
  .Cloudinary {
    width: 300px;
    /* margin: 3px 0 10px 20px; */
  }
  .attach {
    width: 300px;
  }
}
