.Calendar{
    max-width: 700px;
    margin: 0 auto;
}
.Calendar .boxone{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));  
}
/* .Calendar .boxone>div{
    animation: rainbowtwo 3s;
    animation-iteration-count: 2; 
}
@keyframes rainbowtwo{
    0%{background: rgb(245,181,107);}
    5%{background: rgb(245,181,107);}
    10%{background: rgb(220,108,120);}	
    20%{background: rgb(165,100,120);}
    40%{background: rgb(67,89,148);}
    60%{background: rgb(170,43,34);}
    100%{background: rgb(96,85,110);}
    100%{background: rgb(245,181,107);}	
  } */
/* .box .day-23{
    background: pink;
} */
.Calendar .boxone>div{
    height: 20px;
    width: 20px;
    margin: 5px 5px;
    border: solid rgba(128, 128, 128, 0.651) 1px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.151);
    /* background: white; */
  }

