.Horizontal{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    position:fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(101, 101, 86, 0.425);
}
.Horizontal a {
    margin: 60px;
    margin-right: 190px;
    color:  rgb(173, 119, 106);
    text-decoration: none;
    font-size: 25px;
    font-family: 'VT323', monospace;
}
.Horizontal h1{
    font-family: 'Press Start 2P', cursive;
    margin: 60px;
    color: black;
    text-decoration: none;
    font-size:24px;
}

.Vertical{
    width: 180px;
    height: 100vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    /* background: rgba(32, 75, 113, 0.575); */
    background: linear-gradient( rgba(25, 59, 88, 0.904), white);
}
.Vertical h1 {
    margin-top: 40px;
    margin-bottom: 100px;
    font-size: 24px; 
    color: white;
}
.Vertical a{
    text-decoration: none;
    color: black;
}
.Vertical .links a{
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}
.Vertical .links button{
    font-family: 'Press Start 2P', cursive;
    background: transparent;
    border: none;
    font-size: 12px;
    margin-top: 30px;
}
.Vertical .links .logout{
    outline: none;
    
}
.Vertical .links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.rainbowContainer{
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#rainbow {
    margin-top: 20px;
    margin-right: 10px;
    animation: rainbow 3s infinite; 
    font-size: 10px;
    outline-color: aliceblue;
 }
 @keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     100%{color: blue;}
     100%{color: orange;}	
 }
 