.chartjs-container{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
.weekButtons .hide{
    display: none;
}
.weekButtons button>.show{
    display: block;
}
.weekButtons button{
    background: rgba(101, 101, 86, 0.6);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    outline: none;
}
.weekButtons {
    margin: 0 200px;
}

@media (max-width: 900px) {

    .weekButtons {
        margin: 100px 0;
    }

    .chartjs-container {
        margin-top: 230px;
        flex-direction: column;
    }
}